.categories{
    flex: 7;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 0;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 250px;
    background: wheat;
    border-radius: 7px;
    margin: 5px;
    font-size: 18px;
}

.items:hover{
    background-color: lightgray; 
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}
.items:hover .services{
    font-size: 20px;
    transition: font-size 0.3s;
}

