.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

/* Inside your styles.css or Header.css */

/* Footer styles */
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed; /* Position the footer */
  bottom: 0; /* Stick it to the bottom */
  left: 0;
}


.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation ul li {
  margin-left: 10px;
}

.navigation ul li:first-child {
  margin-left: auto;
}



